body {
  font-family: helvetica
}

#main-window {
  width: 100%;
  height: 20px;
}

#query {
  display: none;
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
}

#data-input {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  font-size: 20px;
}

#output {
  margin-top: 50px;
}

li {
  list-style-type: none;
}

.string {
  color: lightgreen;
}

.number {
  color: orange;
}
