body {
  font-family: courier-new;
  font-weight: bold;
  font-size: 20px;
}

#message-window {
  position: absolute;
  bottom: 2px;
}

#main-window {
  width: 100%;
  height: 20px;
}

#data-input {
  width:1000px;
  height: 1000px;;
  border: none;
}

#output {
  margin-top: 50px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.string {
  color: #66CC99;
}

.number {
  color: #3E94E1;
}

.null {
  color: #FF7340;
}

.boolean {
  color: #cc00cc;
}

.node-bracket:hover {
  color: red;
  cursor: pointer;
}
