
li {
  list-style: none;
}

.open-bracket:hover {
  font-size: 22px;
}

.string {
  color: #6AE368;
}

.number {
  color: #66ccff;
}

.null {
  color: #ff6666;
}

.boolean {
  color: #ff33cc;
}

.node-bracket:hover {
  cursor: pointer;
}
