
li {
  list-style: none;
}

.open-bracket:hover {
  color: red;
}

.comma {
  color: black;
}

.bracket-hover {
  color: red;
}

.string {
  color: #6AE368;
}

.number {
  color: #66ccff;
}

.null {
  color: #ff6666;
}

.boolean {
  color: #ff33cc;
}

.node-bracket:hover {
  cursor: pointer;
}
