
body {
  font-family: monaco;
  font-weight: bold;
  font-size: 20px;
}

#app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#output-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#message-window {
  color: black;
}

#object-input {
  position: absolute;
  display: none;
  width: 100%;
  height: 100px;
  bottom: 0px;
}

#data-input {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
}

#data-playground {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  left: 0px;
}
