body {
  font-family: monaco;
  font-size: 15px;
}

.CodeMirror {
  height: calc(100vh - 50px);
}

.bottom-wrapper {
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  left: 0px;
}

.jq-input {
  font-size: 25px;
  position: relative;
  height: 34px;
  left: 53px;
  width: 100%;
}

.jq-input:focus {
  outline-width: 0;
}

.message-container {
  padding-left: 30px;
  background: rgba(145, 255, 0, 0.19);
  position: relative;
  height: 40px;
  bottom: 40px;
  right: 0px;
  float: right;
}

.message {
  position: relative;
  right: 15px;
  top: 11px;
}
