body {
  font-family: monaco;
  font-weight: bold;
  font-size: 15px;
}

ul.node-body {
  margin: 0em;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.output-containers {}

.left {
  position: absolute;
  border-right: 1px solid gray;
  width: 45%;
  height: 100%;
}

.json-output-container {
  width: 100%;
  height: 100%;
}

.jq-output-container {
  position: relative;
  float: right;
  width: 45%;
  height: 100%;
}

.message-window {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
}

.bottom-bar {
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 10px;
}

.jq-input {
  width: 50%;
  left: 10px;
  height: 20px;
  font-size: 20px;
}

.checkmark-container {
  position: absolute;
  right: 35px;
  bottom: 20px;
  color: green;
}

.checkmark {
  display: inline-block;
}

.checkmark:after {
  content: '';
  display: block;
  width: 6px;
  height: 15px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.data-input {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0px;
}

.data-input:focus {
  outline-width: 0;
}
